@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('/fonts/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('/fonts/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/poppins-extrabold-webfont.woff2') format('woff2'),
        url('/fonts/poppins-extrabold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/poppins-black-webfont.woff2') format('woff2'),
        url('/fonts/poppins-black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Lora';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lora-variablefont_wght-webfont.woff2') format('woff2'),
        url('/fonts/lora-variablefont_wght-webfont.woff') format('woff');
}
