@use '../abstracts/' as *;
@use '../utilities/' as *;

body {
    font-family: $font-family-base;
    font-weight: $font-weight-default;
    font-size: $font-size-400;
    color: $color-neutral-1000;
    line-height: 1.5;
}
