.display-100 {
  &--regular {
    font-family: $headings-font-family;
    font-weight: $font-weight-regular;
    line-height: $heading-line-height;
    font-size: $display-font-size-100;
  }
  &--bold {
    font-family: $headings-font-family;
    font-weight: $font-weight-bold;
    line-height: $heading-line-height;
    font-size: $display-font-size-100;
  }
}

body {
  font-family: $paragraph-font-family;
  font-weight: $font-weight-regular;
  line-height: $text-line-height;
}
.heading-primary {
  font-family: $headings-font-family;
  color: $light-textIcon-primary-black;
  backface-visibility: hidden;
  font-size: $display-font-size-200;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;

  body.dark-mode & {
    color: $dark-textIcon-primary-white;
  }

  @include respond(phone) {
    font-size: $headings-font-size-100;
  }
}
.heading-secondary {
  font-family: $headings-font-family;
  color: $light-textIcon-primary-black;
  backface-visibility: hidden;
  font-size: $headings-font-size-100;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;

  body.dark-mode & {
    color: $dark-textIcon-primary-white;
  }
}

.heading-tertiary {
  font-family: $headings-font-family;
  color: $light-textIcon-primary-black;
  backface-visibility: hidden;
  font-size: $headings-font-size-200;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;

  body.dark-mode & {
    color: $dark-textIcon-primary-white;
  }

  @include respond(phone) {
    font-size: $headings-font-size-100;
  }
}

.paragraph {
  font-family: $paragraph-font-family;
  font-weight: $font-weight-regular;
  line-height: $text-line-height;
  font-size: $paragraph-font-size-100;
}
.small {
  font-family: $paragraph-font-family;
  font-weight: $font-weight-medium;
  line-height: $text-line-height;
  font-size: $paragraph-font-size-400;
}
