body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    //color: $color-grey-dark;
}
.heading-primary{
    color: $color-black-base;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    font-size: 4.8rem;
    line-height: 120%;

    body.dark-mode &{
        color: $color-white;
    }

    @include respond(phone){
        font-size: 3.2rem;
    }


}
.heading-secondary{
    color: $color-black-base;
    backface-visibility: hidden;
    font-size: 3.6rem;
    line-height: 120%;

    body.dark-mode &{
        color: $color-white;
    }
}

.heading-tertiary{
    color: $color-black-base;
    backface-visibility: hidden;
    font-size: 2.4rem;
    line-height: 120%;
    font-weight: 700;

    body.dark-mode &{
        color: $color-white;
    }

    @include respond(phone){
        font-size: 2.1rem;
    }
}
.body-large{
    font-size: 1.8rem;
}

.paragraph {
    font-size: 1.6rem;

/*     &:not(:last-child) {
        margin-bottom: 3rem;
    } */
}
.small{
    font-size: 1.2rem;
}