//@import '../abstracts/Variables.scss';
@use '../abstracts' as *;

.none {
    // display: none;
    visibility: hidden;
    opacity: 0;
    order: 1;
}
.d-none {
    display: none;
}
.display-none {
    display: none !important;
}
.mb-20 {
    margin-bottom: 1.25rem;
}

.mb-40 {
    margin-bottom: 2.5rem;
}

.mt-40 {
    margin-top: 2.5rem;
}

.mt-20 {
    margin-top: 1.5rem;
}

.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}

.is-active {
    display: flex !important;
}

.menu-active {
    opacity: 1 !important;
    &__link {
        font-weight: 600 !important;
    }
}
.menu-inactive {
    opacity: 0.4;
}

.flex {
    display: flex !important;
}

.gap-10 {
    gap: 10;
}
flex-column {
    flex-direction: column;
}

.tooltip-active {
    visibility: visible !important;
    opacity: 1 !important;
}

// animations
.move-in-heading {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}
.move-in-subtitle {
    animation: moveInBottom 0.5s ease-out 1s;
    animation-fill-mode: backwards;
}
.header-animation {
    animation: moveInTop 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
    @include respond(phone) {
        animation: none;
    }
}

.img-hero-animation {
    animation: moveInRight 0.5s ease-in 0.8s;
    animation-fill-mode: backwards;
}

/* .bg-white {
  background-color: var(--light-bg-default) !important;
}
 */
