@import "../../styles/ConfigStyles/abstracts/Variables.scss";
@import "../../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../../styles/ConfigStyles/base/Base.scss";
@import "../../styles/ConfigStyles/layout/Grid.scss";
@import "../../styles/ConfigStyles/base/Utilities";

.hero-about {
  align-items: center;
  display: flex;
  height: 50rem;
  justify-content: center;
  padding: 2.5rem;
  padding-top: 8rem;
  width: 100%;
  background-color: var(--bg-medium);
  @include respond(tab-port) {
    height: auto;
  }

  &__text {
    @include respond(phone) {
      text-align: center;
      width: 100%;
      justify-content: center;
    }
  }

  &__hero-container {
    align-items: center;
    display: flex;
    width: $width-container;
    justify-content: space-between;
    padding: 0 4rem;

    @include respond(tab-port) {
      flex-direction: column;
      height: auto;
      padding: 0;
    }
  }

  &__img {
    width: auto;

    @include respond(phone) {
      width: 100%;
      margin-top: 2.5rem;
    }
  }
}

.profile {
  align-items: center;
  display: flex;
  height: 50rem;
  justify-content: center;
  padding: 2.5rem;
  width: 100%;

  @include respond(tab-port) {
    height: auto;
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
    width: $width-container;
    gap: 1.5rem;
    width: 100%;

    @include respond(tab-port) {
      flex-direction: column;
      height: auto;
      padding: 0;
    }
  }

  &__text-box {
    width: 60rem;

    @include respond(tab-port) {
      width: 100%;
    }
  }
  & figure {
    @include respond(phone) {
      width: 100%;
    }
  }
  :is(&__text, &__paragraph) {
    margin-bottom: $gutter-medium;
  }
}
