@import "../../styles/ConfigStyles/abstracts/Variables.scss";
@import "../../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../../styles/ConfigStyles/base/Base.scss";
@import "../../styles/ConfigStyles/layout/Grid.scss";
@import "../../styles/ConfigStyles/base/Utilities";

.hero-about{
    align-items: center;
    background-color: $color-grey-light;
    display: flex;
    height: 50rem;
    justify-content: center;
    padding: 4rem;
    width: 100%;

    body.dark-mode &{
        background-color: $color-black-base;
    }

    @include respond(tab-port){
        height: auto;
    }

    &__hero-container{
        align-items: center;
        display: flex;
        width: $width-container;
        justify-content: space-between;
        padding: 0 4rem ;


    @include respond(tab-port){
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    }

    &__img{
        width: auto;
        
        @include respond(phone){
            width: 100%;
            margin-top: 4rem;
        }
    }
    

}

.profile{
    align-items: center;
    display: flex;
    height: 50rem;
    justify-content: center;
    padding: 4rem;
    width: 100%;

    @include respond(tab-port){
        height: auto;
    }

    &__container{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 4rem;
        width: $width-container;

        @include respond(tab-port){
            flex-direction: column;
            height: auto;
            padding: 0;
        }
    }

    &__text-box{
        width: 60rem;

        @include respond(tab-port){
            width: 100%;
        }

    }
    &__img{
        width: auto;
        @include respond(phone){
            width: 50%;
            margin-bottom: $gutter-medium;
        }

    }
    :is(&__text , &__paragraph){
        margin-bottom: $gutter-medium;

    }

}