@import "../../styles/ConfigStyles/base/Animations.scss";
@import "../../styles/ConfigStyles/abstracts/Variables.scss";
@import "../../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../../styles/ConfigStyles/base/Base.scss";
@import "../../styles/ConfigStyles/layout/Grid.scss";
@import "../../styles/ConfigStyles/base/Utilities";

.animation-container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 4rem;
    @include respond(phone){
        flex-direction: column;
    }
    .animation-box{
        width: 50rem;
        margin: 2rem;

        @include respond(phone){
            width: 100%;
        }
        
    }
    .animation{
        border-radius: 1.6rem;
        height: auto;
        width: 100%;
        object-fit: cover;
        
    }

    .animation-dark{
        border-radius: 1.6rem;
        height: auto;
        width: 100%;
        object-fit: cover;
        background-color: $color-black-base;
        
    }
}