@use '../abstracts/' as *;

// background color classes for Thumbnails

.card-background-hub {
    background-color: $card-background-hub;
}

.card-background-aleph {
    background-color: $card-background-aleph;
}

.card-background-solve {
    background-color: $card-background-solve;
}

.card-background-av {
    background-color: $card-background-av;
}

.card-background-essilor {
    background-color: $card-background-essilor;
}
.card-background-landing {
    background-color: $card-background-landing;
}

.card-background-startoken {
    background-color: $card-background-startoken;
}

.card-background-MUIK {
    background-color: $card-background-muik;
}
