@use '../abstracts/' as *;

.card-background-aleph {
    background-color: $card-background-aleph;
}

.card-background-solve {
    background-color: $card-background-solve;
}

.card-background-av {
    background-color: $card-background-av;
}

.card-background-essilor {
    background-color: $card-background-essilor;
}
.card-background-landing {
    background-color: $card-background-landing;
}
