//@import "../abstracts/Variables.scss";
@use '../abstracts' as *;
/* ---Display Styles---- */
.display {
    &__100 {
        &--regular {
            font-family: $font-family-accent;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-900;
        }
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-900;
        }
    }

    &__200 {
        &--regular {
            font-family: $font-family-accent;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-800;
        }
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-800;
        }
    }
}

/* ----------Heading styles------------- */
.heading {
    &__100 {
        &--regular {
            font-family: $font-family-accent;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-700;
        }
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-700;
        }
    }

    &__200 {
        &--regular {
            font-family: $font-family-accent;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-600;
        }
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-600;
        }
    }
    &__300 {
        &--regular {
            font-family: $font-family-accent;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-500;
        }
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-500;
        }
    }
}
/* ----------Paragraph styles------------- */
.paragraph {
    &__100 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-body;
            font-size: $font-size-500;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-body;
            font-size: $font-size-500;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-body;
            font-size: $font-size-500;
        }
    }

    &__200 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-body;
            font-size: $font-size-400;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-body;
            font-size: $font-size-400;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-body;
            font-size: $font-size-400;
        }
    }
    &__300 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-body;
            font-size: $font-size-300;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-body;
            font-size: $font-size-300;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-body;
            font-size: $font-size-300;
        }
    }
    &__400 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-body;
            font-size: $font-size-200;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-body;
            font-size: $font-size-200;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-body;
            font-size: $font-size-200;
        }
    }
    &__500 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-body;
            font-size: $font-size-100;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-body;
            font-size: $font-size-100;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-body;
            font-size: $font-size-100;
        }
    }
}

/* ----------Button styles------------- */
.button {
    &__100 {
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-500;
        }
    }

    &__200 {
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-400;
        }
    }
    &__300 {
        &--bold {
            font-family: $font-family-accent;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-300;
        }
    }
}
/* ----------Label styles------------- */
.label {
    &__100 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-500;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-heading;
            font-size: $font-size-500;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-500;
        }
    }

    &__200 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-400;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-heading;
            font-size: $font-size-400;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-400;
        }
    }
    &__300 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-300;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-heading;
            font-size: $font-size-300;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-300;
        }
    }
    &__400 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-200;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-heading;
            font-size: $font-size-200;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-200;
        }
    }
    &__500 {
        &--regular {
            font-family: $font-family-base;
            font-weight: $font-weight-default;
            line-height: $line-height-heading;
            font-size: $font-size-100;
        }
        &--medium {
            font-family: $font-family-base;
            font-weight: $font-weight-semi-bold;
            line-height: $line-height-heading;
            font-size: $font-size-100;
        }
        &--bold {
            font-family: $font-family-base;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            font-size: $font-size-100;
        }
    }
}
/* ------------------------------------ */
