@use '../styles/ConfigStyles/abstracts' as *;
@use '../styles/ConfigStyles/base' as *;
@use '../styles/ConfigStyles/layout' as *;
@use '../styles/ConfigStyles/utilities/' as *;

.error-section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: $size-12;
    align-items: center;

    @include mq(medium) {
        flex-direction: column;
    }

    &__content-box {
        display: flex;
        flex-direction: column;
        gap: $size-6;
        min-width: 40%;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        gap: $size-2;

        & p {
            color: $color-text-secondary;
        }
    }

    &__img img {
        width: 80%;

        @include mq(small) {
            width: 100%;
        }
    }
}
