@use '../styles/ConfigStyles/abstracts' as *;
@use '../styles/ConfigStyles/base' as *;
@use '../styles/ConfigStyles/layout' as *;

.error-section {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;

    & .img img {
        width: 50rem;

        @include respond(phone) {
            width: 100%;
        }
    }
    &.img {
        justify-content: center;
    }
}
