//@import '../styles/ConfigStyles/abstracts/Variables.scss';
@use '../styles/ConfigStyles/abstracts/' as *;
.back-button {
    border: 1px solid $color-neutral-900;
    background-color: $color-primary-800;
    border-radius: 16px;
    width: fit-content;
    position: fixed;
    right: 2%;
    width: 3rem;
    height: 3rem;
    bottom: 10%;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: $color-primary-400;
        border: 1px solid $color-neutral-400;
    }
    &__icon {
        color: $color-primary-200;
        width: 2rem;
        height: 2rem;
    }
}

.no-show {
    transition: all 0.3s ease;
    display: none;
}
