@use '../styles/ConfigStyles/abstracts' as *;
@use '../styles/ConfigStyles/base' as *;
@use '../styles/ConfigStyles/layout' as *;

.btn {
    //position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    //outline: none;
    border: $button-border;
    border-radius: $button-border-radius;
    //text-align: center;
    transition: all 0.3s ease;
    font-weight: $button-font-weight;
    font-family: $button-font-family;
    line-height: 150%;
    padding: $button-padding-default;
    &,
    &:link,
    &:visited {
        border: $button-border;
        //outline: none;
    }

    &--primary {
        background-color: $button-primary-background;
        color: $button-primary-color;

        &:hover {
            background-color: $button-primary-background-hover;
        }
        &:active {
            background-color: $button-primary-background-active;
        }
    }

    &--secondary {
        background-color: $button-secondary-background;
        border: 1px solid $button-secondary-border;
        color: $button-secondary-color;

        &:hover {
            background-color: $button-secondary-background-hover;
            border: 1px solid $button-secondary-border-hover;
        }
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.6s;
        animation-fill-mode: backwards;
    }

    &__copy {
        text-decoration: none;
        color: $color-text-default-inverse;
    }

    &--fixed {
        position: fixed;
        top: 16%; // Adjust as needed
        left: 2%; // Adjust as needed
        z-index: 1000; // Adjust as needed
    }
}

/* Button size */

.btn--md {
    padding: $button-padding-default;
    height: 3rem;
}

.btn--lg {
    //font-size: $button-font-size-100;
    padding: $button-padding-default;
    height: 3rem;
}

/* Button + icon */
.btn-icon-container {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btn__icon {
    width: 20px;
    height: 20px;
}
