@import "../styles/ConfigStyles/abstracts/Variables.scss";
@import "../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../styles/ConfigStyles/base/Base.scss";
@import "../styles/ConfigStyles/layout/Grid.scss";
@import "../styles/ConfigStyles/base/Utilities";

.btn {
    margin: 2rem;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    position: relative;
    text-align: center;
    @include respond(phone){
        /* position: static; */

    }
    &,
    &:link,
    &:visited {
        border-radius: 1rem;
        font-size: 1.8rem;
        font-weight: 700;
        transition: all .2s;
        outline: none;
        padding: 2rem;
        width: 30rem;
        text-align: center;
        transition: all .2s;

        //Change for the <button> element
        //border: none;
        // cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        

        &::after {
            transform: scaleX(1.3) scaleY(1.4);
            opacity: 0;
            
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        @include respond(phone){
            transform: none;
        }
    
        
    }
    
    &--primary {
        background-color: $color-yellow-dark;
        border: none;
        color: $color-white;

        &::after {
            background-color: $color-yellow-light;
        }
    }

    &--secondary {
        background-color: $color-white;
        border: 1px solid $color-yellow-dark;
        color: $color-yellow-dark;

        &::after {
            background-color: $color-white;
            border: 1px solid $color-yellow-dark;
        }
    }
    
    &::after {
        content: "";
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 1rem;
        position: absolute;

        z-index: -1;
        transition: all .4s;
        @include respond(phone){
            display: none;
    
        }
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &__copy{
        text-decoration: none;
        color: $color-white;
    }
}

/* Button size */

.btn--medium{
    padding: 1rem 2rem;
    font-size: 1.6rem;
}

.btn--large {
    padding: 2rem 3rem;
    font-size: 2rem;

}