@use '../styles/ConfigStyles/abstracts' as *;
.chip {
    background-color: var(--chip-bg);
    padding: $chip-padding;
    display: inline-block;
    border-radius: $border-radius-full;
    width: fit-content;

    .label {
        color: var(--chip-text);
    }

    .proficiency {
        color: var(--chip-text);
    }
}
