@use '../styles/ConfigStyles/abstracts' as *;
.chip {
    background-color: $chip-background-color;
    padding: $chip-padding;
    display: inline-block;
    border-radius: $border-radius-full;
    width: fit-content;

    .label {
        color: $chip-color;
    }

    .proficiency {
        color: $chip-color;
    }
}
