@import "../styles/ConfigStyles/abstracts/Variables.scss";
@import "../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../styles/ConfigStyles/base/Base.scss";
@import "../styles/ConfigStyles/layout/Grid.scss";
@import "../styles/ConfigStyles/base/Utilities";

.dark {
  background-color: $color-black;
  color: $color-white;

  & h1,
  h3,
  span,
  h1 {
    color: $color-white;
  }

  .section-hero {
    background-color: $color-black-base;
    span,
    h1 {
      color: $color-white;
    }
  }

  .header {
    background-color: $color-yellow-dark;
    a {
      color: $color-white;
    }
  }

  .footer {
    background-color: $color-black-base;
  }

  .footer__heading,
  .footer__text,
  .footer__social-item {
    color: $color-white;
  }
  .radio-btn {
    color: $color-white;
  }
  .radio-buttons {
    background-color: $color-black-base;
  }
  .modal__container {
    background-color: $color-black-base;
  }
  .modal__container h1 {
    color: $color-yellow-dark;
  }
  .modal__container h3 {
    color: $color-white;
  }
  .modal__img-container {
    background-color: $color-grey-light;
  }
  .define__box {
    background-color: $color-black;
  }

  .hero-about {
    background-color: $color-black-base;
  }
  .container-cv .name-cv {
    background-color: $color-black;
    & h1,
    span {
      color: $color-white;
    }
  }

  .container-cv .profile-cv {
    background-color: $color-black-base;
    & h2 {
      color: $color-white;
    }
  }

  .container-cv .education-cv {
    background-color: $color-black-base;
    & h2 {
      color: $color-white;
    }
  }

  .container-cv .skills-cv {
    background-color: $color-black-base;
    & h2 {
      color: $color-white;
    }
  }

  .container-cv .download-cv {
    background-color: $color-black-base;
    & h2 {
      color: $color-white;
    }
  }

  .hero-contact {
    background-color: $color-black-base;
    & h1 {
      color: $color-white;
    }
  }
  .heading-secondary {
    color: $color-white;
  }

  @include respond(phone) {
    .header__list {
      background-color: $color-black-base;
    }
    .header__menu a {
      color: $color-white;
    }
  }
}

.radio-buttons {
  border-radius: 0.4rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: fit-content;
  height: $spacings-9;
  background-color: $color-grey-light;
  display: flex;
  transition: all 0.3s ease-in-out;
  z-index: 999;

  @include respond(phone) {
    bottom: 10rem;
    top: auto;
  }

  .custom-radio input {
    display: none;
  }
  .container-icon {
    border-radius: 0.4rem;
    width: $spacings-6;
    height: $spacings-6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:link,
    &:visited,
    &:active {
      background-color: $color-yellow-dark;
    }

    &::after {
      background-color: $color-yellow-dark;
    }
  }
  .radio-btn {
    border-radius: 0.4rem;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 4rem;
    position: absolute;

    &:link,
    &:visited,
    &:active {
      opacity: 1;
    }
  }
}

.bg-yellow {
  background-color: $color-yellow-light;
  color: white;
}
.bg-none {
  background-color: red;
}
.disabled {
  pointer-events: none;
}
