@import "../styles/ConfigStyles/abstracts/Variables.scss";
@import "../styles/ConfigStyles/abstracts/Mixins.scss";

.footer {
  background-color: $light-bg-medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  gap: 3rem;

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  body.dark-mode & {
    background-color: $color-black-base;
  }

  &__social-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  &__social-item {
    font-size: 3rem;
    text-decoration: none;
    color: $light-primary-default;
    transition: all 0.3s ease;

    &:hover {
      color: $light-primary-hover;
    }

    body.dark-mode & {
      color: $color-yellow-light;
    }
  }
}
