@use '../styles/ConfigStyles/abstracts/' as *;
.footer {
    background-color: $footer-background;
    color: $footer-color;
    display: flex;
    padding: $size-12;
    justify-content: center;

    &__logo {
        width: $size-11;
    }
    &__heading {
        width: 100%;
        color: $color-fixed-white;
    }

    &__container {
        width: 75rem;
        display: flex;
        flex-direction: column;
        gap: $size-10;
    }

    &__text-container {
        display: flex;
        gap: $size-9;
        align-items: start;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__social-icons {
        display: flex;
        justify-content: center;
        gap: $size-4;
        align-items: flex-end;
    }
    &__social-item {
        border-radius: 4px;
        width: 40px;
        height: 40px;
        font-size: 2rem;
        text-decoration: none;
        //color: $footer-color-icon;
        transition: all 0.3s ease;
        height: 2.5rem;
        text-align: center;

        &:hover {
            background-color: $footer-color-icon-hover;
        }
    }
    &__svg {
        color: $footer-color-icon;
    }
}
