@use '../styles/ConfigStyles/abstracts' as *;

.hero-container {
    width: 600px;
    height: 600px;
    overflow: hidden;

    @include mq(medium) {
        width: 100%;
        height: 400px;
    }
}
