@use '../styles/ConfigStyles/abstracts' as *;
.logo-loading {
    width: 80px;
    height: 80px;
    background-color: $color-fixed-black;
    padding: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 50vw;
    top: 50vh;
    //    z-index: 1;

    &__paths {
        width: auto;
        position: relative;
        z-index: 1;
        color: $color-fixed-white;
        stroke: url(#gradient);
        &__path {
            stroke-width: 3;
        }
    }
    &__gradient stop {
        animation: gradient-animation 3s ease-in-out infinite;
    }
}
