@import "../styles/ConfigStyles/abstracts/Variables.scss";
@import "../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../styles/ConfigStyles/base/Base.scss";
@import "../styles/ConfigStyles/layout/Grid.scss";
@import "../styles/ConfigStyles/base/Utilities";

.header {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 5rem;
  z-index: 1;
  transition: 0.2s ease-in;

  &__navigation {
    z-index: 1500;
  }

  body.dark-mode & {
    background-color: $color-yellow-dark;
  }

  @include respond(phone) {
  }

  /*     &__container{
        display: flex;
        justify-content: space-between;
        width: $width-container;
    } */

  &__logo-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: $light-textIcon-primary-black;
    width: 10.75rem;
    height: auto;
    font-family: $headings-font-family;
    font-weight: $font-weight-bold;
    gap: 0.625rem;
    font-size: $headings-font-size-200;

    body.dark-mode & {
      color: $dark-textIcon-primary-white;
    }

    @include respond(phone) {
      flex-direction: column;
      margin: 0;
    }
  }
  &__icon {
    width: 2rem;
  }

  &__menu {
    display: flex;
    flex-direction: row;

    @include respond(phone) {
      justify-content: center;
      margin-right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    width: 100%;
    gap: $spacings-7;

    @include respond(phone) {
      align-items: center;
      backface-visibility: hidden;
      background-color: $color-white;
      border-top: 2px solid $color-yellow-light;
      width: 100vw;
      justify-content: center;
      align-items: center;
      margin: auto;

      body.dark-mode & {
        background-color: $color-black;
      }
    }
  }
  &__item {
    width: auto;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    @include respond(phone) {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
  &__icon-responsive {
    width: auto;
    display: none;
    margin: auto;
    @include respond(phone) {
      display: flex;
      margin: auto;
    }
  }
  &__link {
    opacity: 0.5;
    font-size: $label-font-size-100;
    @include respond(phone) {
      margin: auto;
    }
    &:link,
    &:visited {
      font-weight: 400;
      color: $color-black-base;
      text-decoration: none;
      text-transform: capitalize;
      transition: all 0.4s;
    }
    &:hover,
    &:active {
      color: $color-black-base;
      font-weight: 600;
    }

    body.dark-mode & {
      color: $color-white;
    }
  }
}

.menu {
  color: white;
  &__link {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
}

.active {
  font-weight: 600 !important;
  color: $color-black;
  opacity: 1;
}

a {
  font-family: $label-font-size-100;
  font-weight: $font-weight-medium;
  line-height: $text-line-height;
  text-decoration: none;
  color: black;
}

.header-bg {
  background-color: rgba(241, 243, 249, 0.9);
}

.navbar {
  max-width: 75rem;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5rem;
  padding: 0 1.5rem;
}
