@use '../../styles/ConfigStyles/abstracts' as *;
@use '../../styles/ConfigStyles/base' as *;
@use '../../styles/ConfigStyles/layout' as *;
@use '../../styles/ConfigStyles/utilities' as *;

.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $color-background-default;
    border-radius: 20px 20px 0px 0px;
    box-shadow: $box-shadow-3;
    position: fixed;
    z-index: 999;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;

    &__container {
        padding-top: $size-13;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* ---------- General Image Styles ---------- */
    &__img-container {
        align-items: center;
        background-color: $color-neutral-50;
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 4rem;

        @include mq(medium) {
            height: auto;
            width: 100%;
        }
    }
    &__img-complete {
        height: auto;
        width: 100%;
        object-fit: cover;
        cursor: zoom-in;

        @include mq(medium) {
            height: auto;
            width: 100%;
        }
    }
    &__img-complete:not(:last-child) {
        margin-bottom: 4rem;
    }
    &__bullets-section {
        background-color: $color-neutral-blue-100;
        border-radius: $size-3;
        padding: 2rem;
        display: inherit;
        flex-direction: column;
        width: 100%;
        gap: $size-3;

        & h3 {
            width: 100;
        }
    }
    /* ---------- General Text Styles ---------- */
    &__title,
    &__paragraph {
        color: $color-text-default;
        flex: 1;
    }
    &__subtitle {
        color: $color-text-secondary;
    }
    &__main-text-box {
        max-width: 140rem;
        width: 100%;
        //padding: $size-11;
        display: flex;
        gap: $size-10;

        @include mq(medium) {
            flex-direction: column;
            //padding: $size-8;
        }
    }
    &__secondary-text-box {
        flex-direction: column;
        display: flex;
        gap: $size-3;
        max-width: 75rem;
    }
    /* ---------- Head content styles ---------- */
    &__header {
        align-items: center;
        background-color: $color-neutral-300;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        min-height: 50rem;
        justify-content: center;
        width: 100%;
        text-align: center;

        &__text-box {
            display: flex;
            flex-direction: column;
        }

        &__title {
            color: $color-fixed-white;
            margin-bottom: $size-11;
        }
        &__info-content {
            display: flex;
            flex-direction: column;
            text-align: center;

            & p {
                color: $color-fixed-white;
            }
        }
    }
    /* Header images */
    &__header-av {
        background-image: linear-gradient(
                to right bottom,
                rgba(34, 34, 34, 0.8),
                rgba(20, 12, 3, 0.8)
            ),
            url(https://sebastiangonzalez.design/images/projects/av/hero-image-av.png);
    }
    &__header-essilor {
        background-image: linear-gradient(
                to right bottom,
                rgba(34, 34, 34, 0.9),
                rgba(20, 12, 3, 0.9)
            ),
            url(https://sebastiangonzalez.design/images/projects/essilor/hero-image-essilor.png);
    }
    &__header-solve-for-tomorrow {
        background-image: linear-gradient(
                to right bottom,
                rgba(34, 34, 34, 0.9),
                rgba(20, 12, 3, 0.9)
            ),
            url(https://sebastiangonzalez.design/images/projects/solve/hero-image-solve-for-tomorrow.png);
    }
    &__header-landing-s21 {
        background-image: linear-gradient(
                to right bottom,
                rgba(34, 34, 34, 0.9),
                rgba(20, 12, 3, 0.9)
            ),
            url(https://sebastiangonzalez.design/images/projects/landing-s21/hero-image-landing-s21.png);
    }
    &__header-aleph {
        background-image: linear-gradient(
                to right bottom,
                rgba(34, 34, 34, 0.9),
                rgba(20, 12, 3, 0.9)
            ),
            url(https://sebastiangonzalez.design/images/projects/aleph/hero-image-aleph.png);
    }
    &__header-hub {
        background-image: linear-gradient(
                to right bottom,
                rgba(34, 34, 34, 0.9),
                rgba(20, 12, 3, 0.9)
            ),
            url(https://sebastiangonzalez.design/images/projects/hub/hero-image-hub.webp);
    }
    /* ----------  End Head content styles ---------- */

    /* ----------  Project Info Section ---------- */
    &__project-info {
        border-radius: 2rem;
        box-shadow: $box-shadow-3;
        margin: 4rem;
        background-color: $color-neutral-blue-100;
        justify-content: center;
        width: 100%;
        max-width: 75rem;
        display: flex;
        padding: 4rem;

        @include mq(medium) {
            width: 100%;
            margin: 0;
            padding: 2rem;
            margin-bottom: 4rem;
        }

        & .project-info {
            &__container {
                display: flex;
                @include mq(large) {
                    flex-direction: column;
                }
            }
            &__img {
                background-color: $color-neutral-100;
                border-radius: 2rem;
                margin-right: 4rem;
                width: 31.25rem;
                height: 18.75rem;
                object-fit: cover;
                @include mq(large) {
                    margin: auto;
                    margin-bottom: 4rem;
                    width: 100%;
                }
            }
            &__text-box {
                display: flex;
                flex-direction: column;
                text-align: left;
                color: $color-text-default;
                & span {
                    margin-bottom: $size-2;
                }
            }
            &__name {
                font-weight: 700;
                margin-bottom: 2rem;
            }
        }
    }
    /* ----------  End Project Info Section ---------- */

    /* ----------  Problem Statement Section ---------- */
    &__define {
        align-items: center;
        padding: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        max-width: 75rem;
        margin-bottom: 4rem;

        @include mq(medium) {
            padding: 2rem;
        }

        &__box {
            align-items: center;
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: $size-10;
            padding: $size-11;
            max-width: 75rem;

            & h3,
            ol,
            ul,
            li,
            p {
                color: var(--textIcon-secondary);
            }

            @include mq(large) {
                width: 100%;
                padding: $size-8;
            }
        }
        /*         &__box:not(:last-child) {
            margin-right: 4rem;
            @include mq(medium) {
                margin-right: 0;
                margin-bottom: 4rem;
            }
        } */

        &__text-box {
            display: flex;
            flex-wrap: wrap;
            gap: $size-10;

            & p,
            h1 {
                flex: 1;
            }
            @include mq(large) {
                flex-direction: column;
                width: 100%;
            }
        }

        &__boxes {
            display: flex;
            gap: 3rem;
            @include mq(medium) {
                flex-direction: column;
                width: 100%;
            }
        }
        &__box-goals {
            background-color: $color-neutral-blue-100;
            border-radius: $size-3;
            padding: 2rem;
            display: inherit;
            flex-direction: column;
            width: 50%;
            gap: $size-3;
            & h3 {
                width: 100;
            }
            @include mq(large) {
                width: 100%;
            }
        }
        &__box-goals:only-child {
            width: 100%;
        }
        &__goal-list {
            list-style: none;
            flex-direction: column;
        }
        &__goal-item::before {
            content: '•';
            color: var(--textIcon-link);
            margin-right: 1rem;
        }
        &__goal-item {
            margin-bottom: 1rem;
        }

        &__mindset-box:not(:last-child) {
            margin-bottom: 2rem;
        }

        &__mindset-box {
            & span {
                color: var(--textIcon-link);
                font-weight: 700;
            }
        }
    }
    /* ----------  End Problem Statement Section ---------- */

    /* ----------  Definition Section ---------- */

    &__template {
        align-items: center;
        display: flex;
        gap: $size-11;
        justify-content: center;
        flex-direction: column;
        padding: $size-11;
        align-items: center;
        max-width: 75rem;

        @include mq(medium) {
            width: 100%;
            margin: 0;
            margin-bottom: 4rem;
            padding: $size-8;
        }
    }

    /* ----------  End Definition Section ---------- */

    /* ----------  Results Section ---------- */

    &__end {
        align-items: center;
        gap: 3rem;

        &__text {
            padding: $size-3;
            color: $color-primary-700;
            text-align: center;
        }
    }
    &__other-projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;
        padding: $size-11;
        @include mq(medium) {
            width: 100%;
            margin: 0;
            margin-bottom: 4rem;
            padding: $size-8;
        }
    }

    &__ideate {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;
        width: 100%;
        @include mq(medium) {
            width: 100%;
            margin: 0;
            padding: 2rem;
            margin-bottom: 4rem;
        }
    }
    &__prototype {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;

        @include mq(medium) {
            width: 100%;
            margin: 0;
            padding: 2rem;
            margin-bottom: 4rem;
        }
    }
    &__visual-design {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;
        width: 100%;
        @include mq(medium) {
            width: 100%;
            margin: 0;
            padding: 2rem;
        }
    }
}

.prototype {
    & picture {
        margin-bottom: 4rem;
    }

    &__text-img {
        & img {
            margin-bottom: 4rem;
        }
    }

    &__text {
        margin-bottom: 2rem;
    }
    &__title {
        text-align: center;
    }
}

.visual-design {
    & picture {
        margin-bottom: 4rem;
    }
}

.end {
    background-color: red;
    &__text {
        color: var(--textIcon-link);
    }
    &__line {
        border: 3px solid var(--textIcon-link);
        width: 6rem;
        margin: auto;
        margin-bottom: 2rem;
    }
}

.back {
    position: fixed;
}

.animation {
    display: flex;

    width: 100%;
}
