@use '../../styles/ConfigStyles/abstracts' as *;
@use '../../styles/ConfigStyles/base' as *;
@use '../../styles/ConfigStyles/layout' as *;

.section-hero {
    position: relative;
    align-items: center;
    height: 723px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: $size-6;

    @include mq(medium) {
        height: auto;
        flex-direction: column;
    }

    &__text-container {
        width: 60%;
        margin-top: 4rem;

        @include mq(medium) {
            width: 100%;
        }
        &__text {
            margin-bottom: $size-11;

            & h1 {
                margin-bottom: $size-6;
                color: $color-text-default;
            }
            & p {
                color: $color-text-default;
            }
            @include mq(medium) {
                text-align: center;
            }
        }
        @include mq(medium) {
            padding-top: 8rem;
            height: auto;
            width: 100%;
        }
    }
    &__btn-container {
        max-width: 100%;
        display: flex;
        gap: $size-4;

        @include mq(medium) {
            justify-content: center;
        }
        @include mq(small) {
            flex-direction: column;
        }

        & Button {
            flex-wrap: wrap;
            width: 200px;
            @include mq(small) {
                width: 100%;
            }
        }
    }

    &__3d-container {
        padding-top: 40px;
        width: 60%;
        height: 100%;
        @include mq(medium) {
            width: 100%;
        }
    }
    &__3d {
        width: 100%;
    }
}
