@use '../../styles/ConfigStyles/abstracts' as *;

.portfolioList {
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s ease;
    border-radius: 8px;
    color: $body-text-color;
    width: auto;
    @include mq(small) {
        padding: 1rem 0.5rem;
    }

    &:hover {
        background-color: $color-primary-500;
    }

    &.active {
        color: $color-text-default-inverse;
        font-size: $font-weight-bold;
    }
}
