@import "../../styles/ConfigStyles/abstracts/Variables.scss";
@import "../../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../../styles/ConfigStyles/base/Base.scss";
@import "../../styles/ConfigStyles/layout/Grid.scss";
@import "../../styles/ConfigStyles/base/Utilities";

.section-portfolio {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;

  ul {
    border-radius: $border-full;
    gap: 0.25rem;
    padding: 0.5rem;
    list-style: none;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    @include respond(phone) {
      padding: 0.25rem;
      margin: auto;
    }
  }
  li {
    justify-content: center;
    @include respond(phone) {
    }
  }
  &__container-grid {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: $spacings-6;
    width: 100%;
  }

  &__card-project {
    align-items: start;
    display: flex;
    flex: 1 auto;
    width: 500px;
    height: auto;
    border-radius: $border-xl;
    background-color: $light-bg-surface;
    padding: $spacings-6;
    transition: all 0.5s ease;
    animation: portfolio 0.3s ease;
    animation-fill-mode: backwards;
    overflow: hidden;
    gap: $spacings-6;
    @include respond(tab-port) {
      animation: none;
      width: 100%;
      height: auto;
    }
    @include respond(phone) {
      animation: none;
      width: 100%;
      flex-direction: column;
      height: auto;
    }
    &:hover {
      background-color: $light-primary-bg;
      & img {
        transform: scale(110%);
        opacity: 0.4;
        z-index: 0;
      }
    }
  }

  &__img {
    border-radius: $border-lg;
    width: 40%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: all 0.5s ease;
    @include respond(phone) {
      width: 100%;
    }
    /* 
    &:hover {
      transform: scale(110%);
      opacity: 0.2;
      z-index: 0;
    } */
  }

  &__text-card {
    width: 60%;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: $spacings-8;
    h2 {
      color: $light-textIcon-primary-black;
    }
    span,
    p {
      color: $light-textIcon-secondary-black;
    }
    & .head-text {
      display: flex;
      flex-direction: column;
      gap: $spacings-3;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
}

button {
  max-width: 320px;
  width: 100%;
}
.d-none {
  display: none;
}
