.portfolio-section-container {
    background-color: red; // Or any color you need
    width: 100%; // Ensure the div takes full width
    padding: 20px; // Optional padding to give space
}

.portfolio-wrapper {
    width: 100vw;
}
