@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

$active-theme: $light;

// Layout
$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$gutter-vertical: $size-11;
$gutter-medium: $size-8;
$gutter-small: $size-4;
$gutter-horizontal: $size-11;

$hero-padding: clamp(15rem, 15vh, 20rem);
$section-padding: clamp(3rem, 10vh, 7rem);

$card-body-padding: clamp(2rem, 3.5vw, 5rem);

$container-min-margin-inline: $size-4;
$width-container: 140rem;
$container-max-width: 60rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// Color Semantic Tokens
$color-text-default: $color-neutral-1000;
$color-text-default-inverse: $color-neutral-50;
$color-text-secondary: $color-neutral-800;
$color-text-error: $color-error-700;
$color-text-secondary-inverse: $color-neutral-600;
$color-text-interactive-default: $color-primary-500;
$color-text-interactive-hover: $color-primary-100;

$color-background-default: $color-neutral-blue-50;
$color-background-hub: $color-brand-hub;
$color-background-hub-ds: $color-brand-hub-ds;
$color-background-aleph: $color-brand-aleph;
$color-background-solve: $color-brand-solve;
$color-background-av: $color-brand-av;
$color-background-essilor: $color-brand-essilor;
$color-background-landing: $color-brand-landing;
$color-background-inverse: $color-neutral-900;

$color-foreground-accent: $color-accent-500;

$letter-spacing-loose: 0.16em;
$line-height-body: 150%;
$line-height-heading: 120%;

$color-icon-default: $color-neutral-50;
$color-icon-background-default: $color-neutral-900;
$color-icon-background-hover: $color-neutral-600;

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// general
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

// border-radius
$border-radius-1: $size-2;
$border-radius-2: $size-4;
$border-radius-full: 9999px;

// shadows
$box-shadow-1: 0 $size-1 $size-4 rgb(0 0 0 / 0.05);
$box-shadow-2: 0 $size-1 $size-4 rgb(0 0 0 / 0.15);
$box-shadow-3: 0 0 0 5em rgba($color-background-inverse, 0.5);

// Buttons

$button-font-family: $font-family-accent;
$button-font-size: $font-size-600;
$button-font-weight: $font-weight-bold;
$button-padding-default: $size-3 $size-9; // 12px 32px
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-primary-color: $color-neutral-50;
$button-primary-background: $color-primary-700;
$button-primary-color-hover: $color-neutral-100;
$button-primary-background-hover: $color-primary-800;
$button-primary-background-active: $color-primary-500;

$button-secondary-color: $color-neutral-900;
$button-secondary-background: $color-neutral-50;
$button-secondary-color-hover: $color-neutral-1000;
$button-secondary-background-hover: $color-neutral-200;
$button-secondary-border: $color-neutral-400;
$button-secondary-border-hover: $color-neutral-600;

// Links
$link-primary-color: $color-primary-500;
$link-primary-color-visited: $color-primary-900;
$link-primary-color-active: $color-neutral-300;
$link-primary-color-hover: $color-primary-700;
$link-font-family: $font-family-accent;
$link-font-size: $font-size-400;
$link-font-weight: $font-weight-semi-bold;
$link-font-weight-active: $font-weight-bold;
$link-padding: $size-2 $size-5;
$link-border-radius: $border-radius-full;

// NavBar
$navbar-link-color-default: $color-neutral-900;
$navbar-link-color-visited: $color-neutral-900;
$navbar-link-color-hover: $color-neutral-900;
$navbar-link-background-hover: $color-neutral-300;
$navbar-link-background-active: $color-neutral-300;
$navbar-link-font-family: $font-family-accent;
$navbar-link-font-size: $font-size-400;
$navbar-link-font-size-mobile: $font-size-700;
$navbar-link-font-weight: $font-weight-semi-bold;
$navbar-link-font-weight-active: $font-weight-bold;
$navbar-link-padding: $size-2 $size-5;
$navbar-link-border-radius: $border-radius-full;

// Tabs
$tabs-color-default: $color-neutral-900;
$tabs-color-hover: $color-primary-900;
$tabs-color-active: $color-neutral-900;
$tabs-border-color: $color-neutral-400;
$tabs-background-default: $color-neutral-50;
$tabs-background-hover: $color-primary-300;
$tabs-background-active: $color-primary-200;
$tabs-font-family: $font-family-accent;
$tabs-font-size: $font-size-400;
$tabs-font-weight: $font-weight-semi-bold;
$tabs-font-weight-active: $font-weight-bold;
$tabs-padding: $size-2 $size-5;
$tabs-border-radius: $border-radius-full;

// cards
$card-flow-spacing: $size-2;
$card-body-padding: $size-8;
$card-background-default: $color-neutral-50;
$card-background-aleph: $color-background-aleph;
$card-background-hub: $color-background-hub;
$card-background-hub-ds: $color-background-hub-ds;
$card-background-solve: $color-background-solve;
$card-background-av: $color-background-av;
$card-background-essilor: $color-background-essilor;
$card-background-landing: $color-background-landing;
$card-background-hover: $color-primary-200;
$card-color-default: $color-fixed-white;
$card-border: $color-neutral-400;
$card-border-hover: $color-neutral-400;
$card-font-family: $body-font-family;
$card-border-radius: $border-radius-2;
$card-box-shadow: $box-shadow-1;
$card-line-height: 1.25;
$card-heading-font-family: $font-family-accent;
$card-heading-color-default: $card-color-default;
$card-heading-font-size: $font-size-700;
$card-overview-font-size: $font-size-400;
$card-heading-font-weight: $font-weight-bold;
$card-heading-letter-spacing: $letter-spacing-loose;
$card-heading-line-height: 1;
$card-heading-text-transform: uppercase;
$card-padding: $size-8;

// Label
$label-color: $color-primary-500;
$label-font-size: $font-size-400;
$label-font-weight: $font-weight-semi-bold;

// Chip
$chip-padding: $size-1 $size-3;
$chip-background-color: $color-fixed-soft-blue;
$chip-color: $color-fixed-black;

// Footer
$footer-background: $color-fixed-black;
$footer-color: $color-fixed-white;
$footer-color-icon: $color-fixed-white;
$footer-color-icon-hover: $color-fixed-black-medium;

// Scrollbar
$scrollbar-thumb-color: $color-foreground-accent;

// site header
//$site-header-background-color: $color-neutral-50;
$site-header-color: $color-neutral-900;
//$site-header-padding: $size-8 0;
//$side-header-margin: 0;
//$site-header-justification: space-between;
//$site-header-alignment: start;

// navigation
$navigation-color: $site-header-color;
//$navigation-color-hover: $color-primary-300;
//$navigation-font-family: $font-family-accent;
//$navigation-font-size: $font-size-400;
//$navigation-font-weight: $font-weight-bold;
//$navigation-letter-spacing: $letter-spacing-wide;
//$navigation-spacing: $size-9;

$red: red;
