// COLORS
$color-yellow-light: #FFA939;
$color-yellow-dark: #EF9700;


$color-blue-light: #00BFFF;
$color-blue-dark: #1652F0;

$color-grey-light: #F5F5F5;
$color-grey-light-2: #F3ECEB;
$color-grey-dark: #999;

$color-black-base: #222;
$color-brown-dark: #140C03;


$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$gutter-vertical: 4rem;
$gutter-medium: 2rem;
$gutter-small: 1rem;
$gutter-horizontal: 4rem;

//WIDTH
$width-container: 140rem;