@import "../../styles/ConfigStyles/abstracts/Variables.scss";
@import "../../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../../styles/ConfigStyles/base/Base.scss";
@import "../../styles/ConfigStyles/layout/Grid.scss";
@import "../../styles/ConfigStyles/base/Utilities";

.container-contact {
  width: 100%;
}
.profile__img {
  width: 7.5rem;
}
.contact-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  gap: 3rem;

  &__btns {
    display: flex;
    gap: 1.5rem;

    @include respond(tab-port) {
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      width: 100%;
    }
  }
}

.messageContainer {
  border-radius: 0.4rem;
  top: -6rem;
  left: 0%;
  right: 0%;
  text-align: center;
  margin: auto;
  padding: 1rem;
  position: absolute;
  background-color: $color-yellow-light;
  height: auto;
  width: 10rem;
  z-index: 995;

  & .message {
    color: $color-white;
    font-size: 1.8rem;
  }
}
.messageActive {
  display: block;
}
.message-inactive {
  display: none;
}
.message-animation {
  animation: clipboard 0.3s ease-out;
  animation-fill-mode: backwards;
}
.email {
  margin: 0;
}

.button-container {
  position: relative;
}

.messageContainer2 {
  top: -2rem;
  left: 0%;
  right: 0%;
  text-align: center;
  margin: auto;
  position: absolute;
  height: auto;
  width: auto;
  z-index: 995;

  & .message {
    border-radius: 0.4rem;
    color: $color-yellow-light;
    font-size: 1.4rem;
    margin: 1rem;
  }
}
