@use '../../../styles/ConfigStyles/abstracts' as *;
@use '../../../styles/ConfigStyles/base' as *;
@use '../../../styles/ConfigStyles/layout' as *;

.profile__img {
    width: 7.5rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    gap: 4rem;
    padding: 2rem;
    max-width: 75rem;

    &__heading {
        width: 100%;
        text-align: start;
        color: $color-text-default;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__paragraph {
        color: $color-text-secondary;
    }

    &__btns {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        width: auto;

        @include mq(medium) {
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }
        @include mq(small) {
            width: 100%;
        }
    }
    Button {
        width: 320px;

        @include mq(small) {
            width: 100%;
        }
    }
}

.email {
    @include mq(small) {
        width: 100%;
    }
}
.messageActive {
    display: block;
}
.message-inactive {
    display: none;
}
.message-animation {
    animation: clipboard 0.3s ease-out;
    animation-fill-mode: backwards;
}

.button-container {
    position: relative;
}

.messageContainer2 {
    top: -3rem;
    left: 0%;
    right: 0%;
    text-align: center;
    margin: auto;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 995;

    & .message {
        border-radius: 0.4rem;
        color: $label-color;
        font-size: $label-font-size;
        font-weight: $label-font-weight;
        margin: 1rem;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    &.messageActive {
        display: block;

        & .message {
            opacity: 1;
        }
    }

    &.message-inactive {
        display: none;
    }
}

.character {
    width: 200px;
    height: 200px;
}
