@import "../../styles/ConfigStyles/abstracts/Variables.scss";
@import "../../styles/ConfigStyles/abstracts/Mixins.scss";
@import "../../styles/ConfigStyles/base/Base.scss";
@import "../../styles/ConfigStyles/layout/Grid.scss";
@import "../../styles/ConfigStyles/base/Utilities";

.icon{
    margin-bottom: $gutter-medium;
}
.subtitle{
    margin-bottom: $gutter-vertical;
}
.name-cv{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @include respond(tab-port){
        flex-direction: column-reverse;
    }
    &__img{
        border-radius: 2rem;
        border: solid 3px $color-grey-light;
        width: 35rem;
        height: 28rem;
        background-image: url(https://sebgraph.co/images/about/avatar.png);
        background-size: cover;
        background-repeat: no-repeat;
        @include respond(tab-port){
            margin-bottom: $gutter-medium;
        }
    }
    &__text-box{
        :is(h1, span){
            color: $color-white;
        }
    }
}

.experience-cv{

    &__text-box{
        :is(h2, span, ol){
            color: $color-white;
        }
        :is(h3){
            color: $color-yellow-dark;
            margin-bottom: $gutter-small;
        } 
    }
    &__head-container{
        margin-bottom: $gutter-medium;
    }
    &__items{
        list-style: none;
    }
    &__item::before{
        content: "•";
        color: $color-yellow-dark;
        margin-right: 1rem;
    }
    &__experience-container:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
}

.education-cv{
    &__course-name{
        color: $color-yellow-dark;
        margin-bottom: $gutter-small;
    }
    &__university{
        font-weight: 600;
    }
    &__course:not(:last-child){
        margin-bottom: $gutter-vertical;

    }
}

.skills-cv{

    progress{
        -webkit-appearance: none;
      }
      
    ::-webkit-progress-bar {
         background-color: #c4c4c4;
         height: .5rem;
         border-radius: .5rem;
         
      }
    progress[value]::-webkit-progress-value {
      background-color: $color-yellow-dark;
      border-radius: .5rem;
    }

    &__bar-container{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__bar{
        width: 100%;
        margin-right: $gutter-vertical;       
    }
    &__field{
        margin-bottom: $gutter-medium;
        color: $color-yellow-dark;
        font-weight: 600;

    }
    &__skill:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
    &__item:not(:last-child){
        margin-bottom: $gutter-medium;

    }

}

.languages-cv{
    &__text-box{
        color: $color-white;
    }
    & h2{
        color: $color-white;
    }
    &__language{
        font-weight: 600;
    }
    &__bar-container{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__bar{
        width: 80%; 
    }

    progress{
        -webkit-appearance: none;
      }
      
    ::-webkit-progress-bar {
         background-color: rgba(255, 255, 255, 0.2);;
         height: .5rem;
         border-radius: .5rem;
         
      }
    progress[value]::-webkit-progress-value {
      background-color: $color-white;
      border-radius: .5rem;
    }
}

.hobbies-cv{
    & h2{
        color: $color-white;
    }
    &__icons{
        display: flex;
        justify-content: space-between;
        @include respond(tab-port){
        justify-content: space-around;
        }
    
    }
    &__icon{
        width: 8rem;
        height: 8rem;
        background-color: $color-white;
        border-radius: 50%;
    }
    &__icon:not(:last-child){
        @include respond(tab-port){
            margin-right:1rem;
        }

    }
}

.download-cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    

    &__btns{
        
        display: flex;
        justify-content: space-between;

        & .viewPdf {
            color: $color-yellow-dark;
        }
        & .download {
            color: $color-white;
        }


        @include respond(tab-port){
            flex-direction: column-reverse;
            width: 100%;
        }

    }

}
