@use '../../styles/ConfigStyles/abstracts' as *;
@use '../../styles/ConfigStyles/base' as *;
@use '../../styles/ConfigStyles/layout' as *;

.icon {
    margin-bottom: $gutter-medium;
}
.subtitle {
    margin-bottom: $gutter-vertical;
}

.profile-cv {
    background-color: $color-neutral-blue-100;
}

.experience-cv {
    background-image: $color-gradient-purple;
    &__head-container {
        margin-bottom: $gutter-medium;
    }
    &__items {
        list-style: none;
    }
    &__item::before {
        content: '•';
        color: $color-primary-600;
        font-size: 1.5rem;
        margin-right: 1rem;
    }
    &__experience-container:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
}

.education-cv {
    background-color: $color-neutral-blue-100;
    &__course-name {
        margin-bottom: $gutter-small;
    }
    &__university {
        font-weight: 600;
    }
    &__course:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
}

.skills-cv {
    background-color: $color-neutral-blue-100;
    &__skills-section-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__skills-container {
        display: flex;
        gap: 2rem;

        @include mq(small) {
            flex-direction: column;
        }
    }

    &__skill {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__container-items {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
}

.languages-cv {
    background-color: $color-neutral-blue-100;

    &__container-items {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.hobbies-cv {
    background-image: $color-gradient-purple;
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
        @include mq(medium) {
            justify-content: space-around;
        }
    }
    &__icon {
        width: 5rem;
        height: 5rem;
        background-color: $color-background-default;
        border-radius: 50%;
    }
    &__icon:not(:last-child) {
        @include mq(medium) {
            margin-right: 1rem;
        }
    }
}

.download-cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;

    &__btns {
        justify-content: center;
        display: flex;
        gap: 3rem;

        & button {
            max-width: 20rem;
            width: 100%;
        }

        @include mq(medium) {
            flex-direction: column-reverse;
            width: 100%;
        }
    }
}

.course-description {
    margin-bottom: 20px;
}
