.dark_mode {
  /*   margin-top: -20px;
  margin-left: 10px; */
  display: flex;
}

.dark_mode_label {
  padding: 0.2rem 0.4rem;
  display: flex;
  gap: 0.5rem;
  width: 65px;
  height: 40px;
  position: relative;
  background: #ebebeb;
  border-radius: 8px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s ease;
  justify-content: center;
}

.dark_mode_label:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  left: 4px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label .svg {
  width: 20px;
  z-index: 100;
}
.dark_mode_label .sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label .moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}
