@use '../../styles/ConfigStyles/abstracts/' as *;

.dark_mode {
    display: flex;
}

.dark_mode_label {
    padding: 0.2rem 0.4rem;
    display: flex;
    gap: 0.5rem;
    width: 65px;
    height: 40px;
    position: relative;
    background: $color-neutral-900;
    border-radius: 8px;
    border: 1px solid $color-neutral-600;
    cursor: pointer;
    transition: 0.3s ease;
    justify-content: center;
}

.dark_mode_label:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    left: 3px;
    background: $color-primary-900;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
// Dark Mode
.dark_mode_input:checked + .dark_mode_label {
    background: $color-neutral-200;
    border: 1px solid $color-neutral-400;
}

// Light mode (not checked)
.dark_mode_input:not(:checked) + .dark_mode_label {
    background: $color-neutral-50;
    border: 1px solid $color-neutral-400;
}
.dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: $color-neutral-300;
}
// Light mode (not checked)
.dark_mode_input:not(:checked) + .dark_mode_label:after {
    left: 2px;
    background: $color-neutral-200; // Light mode indicator color
}
.dark_mode_label:active:after {
    width: 30px;
}

.dark_mode_label .svg {
    width: 20px;
    z-index: 100;
    stroke: $color-primary-300;
}
.dark_mode_label .sun {
    left: 5px;
    transition: 0.3s;
}
.dark_mode_label .moon {
    left: 40px;
    transition: 0.3s;
}

// Dark Mode
.dark_mode_input:checked + .dark_mode_label svg.sun {
    stroke: $color-primary-700;
}
// Light Mode
.dark_mode_input:not(:checked) + .dark_mode_label svg.sun {
    stroke: $color-primary-900;
}

// Dark Mode
.dark_mode_input:checked + .dark_mode_label svg.moon {
    stroke: $color-primary-800;
}
// Light Mode
.dark_mode_input:not(:checked) + .dark_mode_label svg.moon {
    stroke: $color-primary-900;
}
